FORMAT: 1A
HOST: http://polls.apiblueprint.org/

# Wando API
Wando API - some init info

# Group Pages

## Init [/page/init]

### Get page init data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "data"      : {
                "api_url"       : "http://api.wandome.com/v1",
                "country"       : "US",
                "contact_email" : "info@products-i-want.com",
                "host"          : "rabatt-rudi.de",
                "company_name"  : "Wando Internet Solutions GmbH"
                "category_data" : [
                    {
                        "name"          : "Cars and Accessories",
                        "clickout_url"  : "/product/falz?main_cat=cars+and+accessories"
                    }, {
                        "name"          : "Clothing and Accessories",
                        "clickout_url"  : "/product/falz?main_cat=clothing+and+accessories"
                    }
                ],
                "lang": {
                    "messages"      : {
                        
                    },
                    "validation"    : {
                        
                    }
                },
                "links": {
                    "pages" : {
                        "homepage"  : "/page/homepage",
                        "imprint"   : "/page/imprint",
                        "terms"     : "/page/terms",
                        "privacy"   : "/page/privacy",
                        "guide"     : {
                            "index"         : "/page/guide",
                            "electronics"   : "/page/guide/electronics",
                            "home"          : "/page/guide/home",
                            "sport"         : "/page/guide/sport",
                            "beauty"        : "/page/guide/beauty"
                        }
                    },
                    "product": {
                        "falz"      : "/product/falz",
                        "list"      : "/product/list",
                        "filters"   : "/product/filters",
                        "details"   : {
                            "get"       : "/product/{productStringId}/details",
                            "review"    : {
                                "list"      : "/product/{productStringId}/review",
                                "add"       : "/product/{productStringId}/review"
                            }
                            
                        },
                        "wishlist"  : {
                            "list"      : "/product/wishlist",
                            "add"       : "/product/wishlist/{productStringId}",
                            "remove"    : "/product/wishlist/{productStringId}"
                        },
                        "compare"   : {
                            "list"      : "/product/compare",
                            "add"       : "/product/compare/{productStringId}",
                            "remove"    : "/product/compare/{productStringId}"
                        }
                    }
                }
            }
        }
        
## Homepage [/page/homepage]

### Get home page data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "body"      : {
                
            }
        }
        
## Imprint [/page/imprint]

### Get imprint data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "body"      : {
                
            }
        }
        
## Terms [/page/terms]

### Get terms data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "body"      : {
                
            }
        }
        
## Privacy [/page/privacy]

### Get privacy data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "body"      : {
                
            }
        }
        
## Guide [/guide]

### Get guides page data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "body"      : {
                
            }
        }
        
## Guide electronics [/guide/electronics]

### Get guides electronics page data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "body"      : {
                "title"     : "",
                "header"    : "",
                "subheader" : {
                    "first"     : "TV & Video search filters",
                    "second"    : "Enjoy Top-Quality Video Games, Computer Games and Console Games Online",
                },
                "text"      : {
                    "first"     : "In contemporary times consumers are dedicated to finding the best deals on high-technology equipment such as TV's and home entertainment centers. Finding exactly what you want at the best price can sometimes prove a real challenge and many consumers prefer to shop for items online. Whether you need a TV, video projectors, a media player, home theatre, speakers, receivers or any other item you can compare prices across several different retailers using a price comparison chart.",
                    "second"    : "Using the filter functions provides information and prices from thousands of online shops, allowing you to compare prices across thousands of retail outlets simultaneously! This means no more jumping from site to site, searching through tedious listings to find the items you want. Simply enter details of the product you want and view the price charged by any retailer you want. By comparing several products from several different retail outlets in one place, you don't have to go from shop to shop in real time or online to find just the right product for your individual needs. Each customer is certainly as unique as the product they are looking for and each search can be tailored to suit the product specifications you desire. Shopping this way is a unique and fun experience and avoids time-wasting and dead leads. Simply go to the website and enter the name of the product you want. You will be furnished with a list of stores that sell it, product information and the price it is being sold for at each different outlet. This makes it easy to find the best deals on all your favorite high-tech and special products.",
                    "third"     : "If you love video games of any genre, you can find all your favorite first-person shooter, role-playing or strategy versions online. Using a price comparison chart, you can find the video game, Playstation game, PC Game, Wii Game, Xbox Game and accessories at the best value, just by going to a single website. There is no need to jump from website to website, searching through numerous listings to find what you want! Searching for products across shopping websites can take a lot of time and it often takes a few days or a week to find exactly what you want at the price you desire. Using the Video Games filter you simply enter the name of the product that you want and view a list of prices from thousands of different online retailers. Using an online price comparison makes shopping fun and easy for any avid gamer. By searching the Video Games category to find the item you are looking for. Alternatively you can search for items in the price category that you want. Online price comparison charts ensure you won't miss sale prices and low price deals. Join millions of consumers who use online shopping to make their retail experience faster and more efficient, allowing them to find not only the video games that they love, but to get them at the best possible value with the minimum of stress and hassle. Online shopping can be just as time-consuming as going from door-to-door but by using the Video Games filter you can find your beloved versions simply and quickly, and take advantage of special deals being offered that you may not have been aware of.",
                }
            },
            "product"   : {
                "search_keyword"    : "garden furniture set",
                "products_no"       : 14,
                "list_url"          : "/product/list?keyword=garden+furniture+set&per_page=14",
                "clickout_url"      : "/product/list?keyword=garden+furniture+set"
            },
            "guides"    : {
                "banners"   : [
                    {
                        "title"         : "Electronic Products",
                        "clickout_url"  : "/guide/electronics"
                    }, {
                        "title"         : "Home & Garden",
                        "clickout_url"  : "/guide/home"
                    }, {
                        "title"         : "Sports",
                        "clickout_url"  : "/guide/sport"
                    }, {
                        "title"         : "Beauty Products",
                        "clickout_url"  : "/guide/beauty"
                    }
                ]
            }
        }
        
## Guide home [/guide/home]

### Get guides home page data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "body"      : {
                "title"     : "Home & Garden",
                "header"    : "Find Great Deals on TV, Video and Home Cinema Equipment",
                "subheader" : {
                    "first"     : "Revamp your home at :host",
                    "second"    : "One stop shopping for furniture and appliances",
                    "third"     : "How can you transform your Garden?",
                    "fourth"    : "Get the garden you want with no fuss",
                    "fifth"     : "Begin with the basics"
                },
                "text"      : {
                    "first"     : "Home is the most important place in the world. Simple, modern and minimalist or something a little more traditional, it's where you express your personality. Furnishing and decorating your home is always fun. Head to :host and search for the Home section to create your perfect place.",
                    "second"    : "You might be starting from scratch, having a makeover or just need some new furniture, soft furnishings or kitchen appliances. Maybe your home decoration has got a little dated. Spruce up your d&#233;cor, create ambience with new lamps, add some art to your walls or find some unique crafts to use as ornaments, all at :host. In the Home section, you will discover everything you need to turn your house or appartment into a welcoming home to be proud of. Browse and compare everything from furniture and bedding to beautiful items for your living room and bathroom. Our filters are easy to use and let you pinpoint exactly what you want.",
                    "third"     : "To find bedding, lights, furniture and appliances, all in one place, visit :host. It's the perfect place to compare millions of products from thousands of online shops. No more going from store to store, relax at home and easily browse using our filters. In the Home category, you will find products clearly displayed with all the information you need to make a great choice. Have a look at reviews provided by customers of our shopping partners to help you make up your mind. You can easily select the price range you're looking for. This intuitive price comparison site makes shopping fun and easy. Make a style statement in your home with :host.",
                    "fourth"    : "Whether you're an avid gardener with a vast country spread or whether you have a small patch near your apartment, you'll find creating a great garden easy when you can choose everything you need quickly and easily. From digging and excavating equipment to colorful plants and garden ornaments, there is more choice than ever on the :host Garden sections.",
                    "fifth"     : "With access to some of the world's leading brands at :host, you can be sure of finding just what you need to design your perfect garden. Those with a larger garden are spoiled for choice at the Garden section, and can choose from a terrific range of plants, ornamental fixtures and fountains. Perhaps you'd like a romantic garden but worry that you don't have room? Try planting roses in various shades of red or pink in pretty pots and containers. Solar lights are an excellent way to create a specific look or mood in your garden or balcony, and there are designs to complement both rural and urban settings all in the Garden category.",
                    "sixth"     : "Of course, any garden involves some basic spade work, and you'll find all the tools and implements you require right here in the Garden section. Choose forks and spades for larger areas, or pick small forks and trowels for petite gardens or planters. It's so much easier to get down to the basic hard work when you're dressed for the job, so be sure to take a look at the great range of gardening aprons, gloves and jackets in the Garden category, too."
                }
            },
            "product"   : {
                "search_keyword"    : "garden furniture set",
                "products_no"       : 14,
                "list_url"          : "/product/list?keyword=garden+furniture+set&per_page=14",
                "clickout_url"      : "/product/list?keyword=garden+furniture+set"
            },
            "guides"    : {
                "banners"   : [
                    {
                        "title"         : "Electronic Products",
                        "clickout_url"  : "/guide/electronics"
                    }, {
                        "title"         : "Home & Garden",
                        "clickout_url"  : "/guide/home"
                    }, {
                        "title"         : "Sports",
                        "clickout_url"  : "/guide/sport"
                    }, {
                        "title"         : "Beauty Products",
                        "clickout_url"  : "/guide/beauty"
                    }
                ]
            }
        }

## Guide sport [/guide/sport]

### Get guides sport page data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "body"      : {
                
            }
        }

## Guide beauty [/guide/beauty]

### Get guides beauty page data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "body"      : {
                
            }
        }


# Group Products

## Products falz page [/product/falz?keyword={keyword}&main_cat={main_cat}&min_price={min_price}&max_price={max_price}&filters={filters}&no_auctions={no_auctions}&sort_by={sort_by}&cb={cb}&provider={provider}&page={page}&per_page={per_page}]

+ Parameters
    + keyword (string, required) - search keyword
    + min_price (number, optional) - minimum price
    + max_price (number, optional) - maximum price
    + main_cat (string, optional) - main category string name
    + filters (string, optional) - filter offers using parameters
    + no_auctions (enum["0", "1"], optional)
        + Default: `0`
    + sort_by (enum["relevance", "priceAsc", "priceDesc"], optional) - sorting type
        + Default: `relevance`
    + page (number, optional) - page number
        + Default: `1`
    + per_page (number, optional) - number of elements per page
        + Default: `25`
    + cb (enum["0", "1"], optional) - cache breaker, always refresh data
        + Default: `0`
    + provider (string, optional) - comma separated provider string identifiers

### Get falz page data [GET]

+ Response 200 (application/json)

        {
            "status"        : "success",
            "product_url"   : {
                "list_url"      : "/product/list?keyword={keyword}&main_cat={main_cat}&min_price={min_price}&max_price={max_price}&filters={filters}&no_auctions={no_auctions}&sort_by={sort_by}&cb={cb}&provider={provider}&page={page}&per_page={per_page}",
                "filters_url"   : "/product/filters?keyword={keyword}"
            }
        }
        
## Products list [/product/list?keyword={keyword}&main_cat={main_cat}&min_price={min_price}&max_price={max_price}&filters={filters}&no_auctions={no_auctions}&sort_by={sort_by}&cb={cb}&provider={provider}&page={page}&per_page={per_page}]

+ Parameters
    + keyword (string, required) - search keyword
    + min_price (number, optional) - minimum price
    + max_price (number, optional) - maximum price
    + main_cat (string, optional) - main category string name
    + filters (string, optional) - filter offers using parameters
    + no_auctions (enum["0", "1"], optional)
        + Default: `0`
    + sort_by (enum["relevance", "priceAsc", "priceDesc"], optional) - sorting type
        + Default: `relevance`
    + page (number, optional) - page number
        + Default: `1`
    + per_page (number, optional) - number of elements per page
        + Default: `25`
    + cb (enum["0", "1"], optional) - cache breaker, always refresh data
        + Default: `0`
    + provider (string, optional) - comma separated provider string identifiers

### Get products list [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "products"  : {
                "list"      : [
                    {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }, {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }
                ]
            },
            "ad"        : {
                "list"      : [
                    {
                        "merchant_id"       : "amazon",
                        "merchant_logo_url" : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        "redirect_url"      : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "headline"          : "Here you have got MONSTER CHOICES!",
                        "text"              : "Priceless variety of products for Mac mini. Only at Amazon!"
                    }, {
                        "merchant_id"       : "amazon",
                        "merchant_logo_url" : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        "redirect_url"      : "http://wandome.com/landingpage/r?mac+mini,5678",
                        "headline"          : "Apple Mac Mini MGEQ2LL\/A Desktop (NEWEST VERSION)",
                        "text"              : "Priceless variety of products for Mac mini. Only at Amazon!"
                    }
                ]
            }
            "paginate"  : {
                "page"      : 1,
                "per_page"  : 25,
                "last_page" : 5,
                "total_no"  : 25
            }
        }
        
        
## Filters [/product/filters?keyword={keyword}&main_cat={main_cat}&min_price={min_price}&max_price={max_price}&filters={filters}&no_auctions={no_auctions}&cb={cb}&provider={provider}]

+ Parameters
    + keyword (string, required) - search keyword
    + min_price (number, optional) - minimum price
    + max_price (number, optional) - maximum price
    + main_cat (string, optional) - main category string name
    + filters (string, optional) - filter offers using parameters
    + no_auctions (enum["0", "1"], optional)
        + Default: `0`
    + cb (enum["0", "1"], optional) - cache breaker, always refresh data
        + Default: `0`
    + provider (string, optional) - comma separated provider string identifiers

### Get filters data [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "filters"   : {
                "keyword"       : "mac mini",
                "main_cat"      : null,
                "no_auctions"   : 0,
                "free_shipping" : 0,
                "special_offer" : 0,
                "min_price"     : 0,
                "max_price"     : 0,
                "sorting"       : "relevance",
                "dynamic"       : [
                    {
                        "name"              : "Shop",
                        "type"              : "store",
                        "in_use"            : true,
                        "values"            : [
                            {
                                "id"            : [
                                    "me109315"
                                ],
                                "name"          : "Crutchfield",
                                "product_count" : 4,
                                "selected"      : true
                            },
                            {
                                "id"            :[
                                    "me112198"
                                ],
                                "name"          : "Iaqsource.com",
                                "product_count" : 1,
                                "selected"      : false
                            }, {
                                "id": [
                                    "me110229"
                                ],
                                "name"          : "OEMPCWorld.com",
                                "product_count" : 4,
                                "selected"      : false
                            }
                        ]
                    }, {
                        "name"              : "Category",
                        "type"              : "category",
                        "in_use"            : true,
                        "values"            : [
                            {
                                "id"            : [
                                    "cat637307"
                                ],
                                "name"          : "Appliances parts & accessories",
                                "product_count" : 1,
                                "selected"      : true
                            },
                            {
                                "id"            : [
                                    "cat637143"
                                ],
                                "name"          : "Ram & memory upgrades",
                                "product_count" : 4,
                                "selected"      : false
                            },
                            {
                                "id"            : [
                                    "cat637502"
                                ],
                                "name"          : "Recording equipment",
                                "product_count" : 4,
                                "selected"      : false
                            }
                        ]
                    }
                ]
            }
        }
        

## Product detials [/product/{productStringId}/details]

+ Parameters
    + productStringId (string) - product string identifier, e.g. mac+mini,1234

### Get single product details [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "product"   : {
                "prod_string_id"        : "mac+mini,1234",
                "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                "index"                 : 0,
                "rating"                : 5,
                "is_special_prod"       : true,
                
                "provider"              : "Amazon",
                "merchant_id"           : "amazon",
                "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                
                "old_price"             : 1665,
                "price"                 : "$1,850.00 - 2,449.00",
                "price_min"             : 1850,
                "price_max"             : 2449,
                "discount_percent"      : 10,
                "shipping_price"        : "$100",
                "price_currency"        : "USD",
                
                "category_name"         : "Personal Computer",
                "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                "valid_until"           : 1444940661,
                "brand"                 : "Apple",
                "color"                 : [
                    "silver"
                ],
                "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                
                "photo"                 : {
                    "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                    "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                }
            }
        }
        


## Product review [/product/{productStringId}/review]

+ Parameters
    + productStringId (string) - product string identifier, e.g. mac+mini,1234

### Get reviews list [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "reviews"   : {
                "total_no"  : 2,
                "list"      : [
                    {
                        "username"      : "sm",
                        "comment"       : "awesome product!",
                        "rating"        : 5,
                        "created_at"    : 1441876824
                    }, {
                        "username"      : "br",
                        "comment"       : "awesome product!",
                        "rating"        : 4,
                        "created_at"    : 1441876000
                    }
                ]
            }
        }

### Add new review [PUT]

+ Attributes
    + username: `sm` (string, required) - current username
    + comment: `This is my awesome review` (string, required) - user product review comment
    + rating: 5 (enum[number], required) - user product rating, value form 1 till 5
        + Default: `5`
        + Members
            + `5` - 5
            + `4` - 4
            + `3` - 3
            + `2` - 2
            + `1` - 1


+ Response 200 (application/json)

        {
            "status"    : "success",
            "message"   : "",
            "review"    : {
                "total_no"  : 2,
                "list"      : [
                    {
                        "username"      : "sm",
                        "comment"       : "awesome product!",
                        "rating"        : 5,
                        "created_at"    : 1441876824
                    }, {
                        "username"      : "br",
                        "comment"       : "awesome product!",
                        "rating"        : 4,
                        "created_at"    : 1441876000
                    }
                ]
            }
        }



## Wishlist get products list [/product/wishlist]

### Get products in wishlist [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "wishlist"  : {
                "total_no"  : 2,
                "list"      : [
                    {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }, {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }
                ]
            }
        }
        
## Wishlist add new product [/product/wishlist/{productStringId}]

+ Parameters
    + productStringId (string) - product string identifier, e.g. mac+mini,1234

### Add products to wishlist [PUT]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "message"   : "Product added to wishlist",
            "wishlist:  : {
                "total_no"  : 2,
                "list"      : [
                    {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }, {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }
                ]
            }
        }


### Remove products from wishlist [DELETE]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "message"   : "Product removed from wishlist",
            "wishlist"  : {
                "total_no"  : 2,
                "list"      : [
                    {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }, {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }
                ]
            }
        }



## Compare get products list [/product/compare]

### Get products in compare [GET]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "compare"   : {
                "total_no"  : 2,
                "list"      : {
                                        {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }, {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }
                }
            }
        }
        
## Compare add new product [/product/compare/{productStringId}]

+ Parameters
    + productStringId (string) - product string identifier, e.g. mac+mini,1234

### Add products in compare [PUT]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "message"   : "Product added to the compare list",
            "compare"   : {
                "total_no"  : 2,
                "list"      : [
                    {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }, {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }
                ]
            }
        }

### Remove products from compare [DELETE]

+ Response 200 (application/json)

        {
            "status"    : "success",
            "message"   : "Product removed from compare list",
            "compare"   : {
                "total_no"  : 2,
                "list"      : [
                    {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }, {
                        "prod_string_id"        : "mac+mini,1234",
                        "redirect_url"          : "http://wandome.com/landingpage/r?mac+mini,1234",
                        "index"                 : 0,
                        "rating"                : 5,
                        "is_special_prod"       : true,
                        
                        "provider"              : "Amazon",
                        "merchant_id"           : "amazon",
                        "merchant_logo_url"     : "https:\/\/s3.eu-central-1.amazonaws.com\/fe-statics\/images\/amazon_logo_small.jpg",
                        
                        "old_price"             : 1665,
                        "price"                 : "$1,850.00 - 2,449.00",
                        "price_min"             : 1850,
                        "price_max"             : 2449,
                        "discount_percent"      : 10,
                        "shipping_price"        : "$100",
                        "price_currency"        : "USD",
                        
                        "category_name"         : "Personal Computer",
                        "title"                 : "Apple iMac MF885LL\/A 27-Inch Desktop (NEWEST VERSION)",
                        "description"           : "3.3GHz quad-core Intel Core i5. Turbo Boost up to 3.7GHz. 8GB (two 4GB) memory. 1TB hard drive1. AMD Radeon R9 M290 with 2GB video memory. 27\" Retina 5K IPS Display. 5120 x 2880 Native Resolution. 3.3 GHz Intel Core i5 (Haswell). 8GB of 1600 MHz DDR3 RAM. 1TB 7200 rpm Hard Drive. AMD Radeon M290 GPU (2GB GDDR5). 802.11ac Wi-Fi, Bluetooth 4.0. 2x Thunderbolt 2 and 4x USB 3.0 Ports. FaceTime HD Camera, Dual Mics, Speakers. Mac OS X 10.10 Yosemite.",
                        "valid_until"           : 1444940661,
                        "brand"                 : "Apple",
                        "color"                 : [
                            "silver"
                        ],
                        "similar_prod_keyword"  : "Apple iMac MF885LL A 27 Inch",
                        
                        "photo"                 : {
                            "main_url"              : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL.jpg"",
                            "thumb_url"             : "http:\/\/ecx.images-amazon.com\/images\/I\/51Uc7ISIJjL._SL160_.jpg"
                        }
                    }
                ]
            }
        }
        
        
# Group Catalogue
